<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = $i18n.get("title.config.detail") + " - " + ${requestParams.appName})
    #parse("blocks/html-head.vm")
    <!-- ace -->
    <link rel="stylesheet" href="/plugins/ace-diff/ace-diff.min.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    #parse("blocks/navbar.vm")

    #set($currentPage = "config")
    #parse("blocks/sidebar.vm")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>$i18n.get("title.config.detail")</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/config/list.htm">$i18n.get("title.config.management")</a></li>
                            <li class="breadcrumb-item active">$i18n.get("title.config.detail")</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                $i18n.get("title.config.management") <i class="fa fa-cogs"></i>
                            </h5>
                            <div class="card-tools">
                                <a href="/config/edit.htm?appName=$!{requestParams.appName}&environment=$!{requestParams.environment}" 
                                   class="btn btn-primary btn-sm float-right" data-loading-text="searching">
                                    $i18n.get("button.edit")
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-inline" method="get">
                                        <div class="form-group" style="margin-left:10px">
                                            <label for="appName">$i18n.get("label.app.name"):</label>
                                            <input type="text" class="form-control" placeholder="$i18n.get('label.app.name')" 
                                                   value="$!{requestParams.appName}" id="appName" name="appName" 
                                                   autocomplete="off" readonly="readonly" data-toggle="tooltip" 
                                                   title="$i18n.get('label.app.name')" style="width: 210px;margin-left:10px">
                                        </div>
                                        <div class="form-group" style="margin-left: 10px">
                                            <label for="environment">$i18n.get("label.environment"):</label>
                                            <input type="text" class="form-control" placeholder="$i18n.get('label.environment')" 
                                                   value="$!{requestParams.environment}" id="environment" name="environment" 
                                                   autocomplete="off" readonly="readonly" data-toggle="tooltip" 
                                                   title="$i18n.get('label.environment')" style="width: 210px;margin-left:10px">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <span STYLE="margin-left: -6px" class="badge badge-success">
                                        $i18n.get("page.config.info") <i class="fa fa-code"></i>
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="badge badge-success" style="margin-left: -6px">
                                        $i18n.get("page.config.help") <i class="fa fa-code"></i>
                                    </span>
                                </div>
                                <div class="col-md-8" id="config-editor" style="height: 500px">$!config</div>
                                <div class="col-md-4" id="help-editor" style="height: 500px">$!configHelp</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    #parse("blocks/footer.vm")
</div>
<!-- ./wrapper -->

#parse("blocks/header-scripts.vm")
<!-- ace -->
<script src="/plugins/ace-editor/ace.js" charset="UTF-8"></script>
<script src="/plugins/ace-diff/ace-diff.min.js" charset="UTF-8"></script>
#parse("blocks/fakeloader.vm")

<script type="application/javascript">
    var configEditor = ace.edit("config-editor");
    configEditor.setTheme("ace/theme/xcode");
    configEditor.getSession().setMode("ace/mode/json");
    configEditor.setReadOnly(true);
    configEditor.resize();
    configEditor.setShowPrintMargin(false);
    
    var helpEditor = ace.edit("help-editor");
    helpEditor.setTheme("ace/theme/xcode");
    helpEditor.getSession().setMode("ace/mode/apache_conf");
    helpEditor.setReadOnly(true);
    helpEditor.resize();
    helpEditor.setShowPrintMargin(false);
</script>
</body>
</html>