<!DOCTYPE html>
<html>
<head>
    #set($pageTitle = $i18n.get("title.module.list"))
    #parse("blocks/html-head.vm")
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    #parse("blocks/navbar.vm")

    #set($currentPage = "module")
    #parse("blocks/sidebar.vm")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>$i18n.get("title.module.list")</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">$i18n.get("page.home")</a></li>
                            <li class="breadcrumb-item active">$i18n.get("title.module.list")</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                $i18n.get("title.module.list") <i class="fa fa-heartbeat"></i>
                            </h5>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary btn-sm float-right"
                                        data-loading-text="searching" id="btn-install">
                                    $i18n.get("button.install.module")
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-inline" method="get" action="list.htm">
                                        <div class="form-group" style="margin-left:10px">
                                            <label for="appName">$i18n.get("label.app.name"):</label>
                                            <input type="text" class="form-control" placeholder="$i18n.get('label.app.name')" 
                                                   name="appName" value="$!requestParams.appName" autocomplete="off"
                                                   data-toggle="tooltip" title="$i18n.get('label.app.name')" 
                                                   style="width: 210px;margin-left:10px">
                                        </div>
                                        <div class="form-group" style="margin-left: 10px">
                                            <label for="ip">$i18n.get("form.machine.ip"):</label>
                                            <input type="text" class="form-control" placeholder="$i18n.get('form.ip.address')" 
                                                   name="ip" value="$!requestParams.ip" autocomplete="off"
                                                   data-toggle="tooltip" title="$i18n.get('form.ip.address')" 
                                                   style="width: 210px;margin-left:10px">
                                        </div>
                                        <div class="form-group" style="margin-left: 20px">
                                            <button type="submit" class="btn btn-primary"
                                                    data-loading-text="searching" id="search-online-btn">
                                                $i18n.get("button.query") <i class="fa fa-search icon-on-right bigger"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-hover table-striped" style="word-break: break-all;">
                                #if($pagerWrapper.content && $pagerWrapper.content.size() > 0)
                                    <thead>
                                    <tr>
                                        <th>$i18n.get("table.app.name")</th>
                                        <th>$i18n.get("table.environment")</th>
                                        <th>$i18n.get("form.machine.ip")</th>
                                        <th>$i18n.get("table.port")</th>
                                        <th>$i18n.get("table.version")</th>
                                        <th>$i18n.get("label.status")</th>
                                        <th>$i18n.get("label.heartbeat.time")</th>
                                        <th width="100px">$i18n.get("table.operation")</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($data in $pagerWrapper.content)
                                        <tr>
                                            <td style="vertical-align: middle">$!data.appName</td>
                                            <td style="vertical-align: middle">$!{data.environment}</td>
                                            <td style="vertical-align: middle">$!data.ip</td>
                                            <td style="vertical-align: middle">$!{data.port}</td>
                                            <td style="vertical-align: middle">$!{data.version}</td>
                                            <td style="vertical-align: middle">
                                                #if($!{data.status.desc}=='已激活')
                                                    <span class="badge badge-success">$i18n.get("status.activated")</span>
                                                #else
                                                    <span class="badge badge-warning">$i18n.get("status.unactivated")</span>
                                                #end
                                            </td>
                                            <td style="vertical-align: middle">$!{data.gmtModified}</td>
                                            <td style="vertical-align: middle">
                                                #if($!{data.status.desc}=='已激活')
                                                    <button class="btn btn-warning btn-xs btn-frozen" data-toggle="tooltip"
                                                            title="$i18n.get('module.freeze')" data-ip="$!{data.ip}"
                                                            data-app="$!{data.appName}">$i18n.get("module.freeze")
                                                    </button>
                                                #else
                                                    <button class="btn btn-success btn-xs btn-active" data-toggle="tooltip"
                                                            title="$i18n.get('button.activate')" data-ip="$!{data.ip}"
                                                            data-app="$!{data.appName}">$i18n.get("button.activate")
                                                    </button>
                                                #end
                                                <button class="btn btn-primary btn-xs btn-reload" data-toggle="tooltip"
                                                        title="$i18n.get('module.reload.plugin')" data-ip="$!{data.ip}"
                                                        data-app="$!{data.appName}">$i18n.get("module.reload")
                                                </button>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                #else
                                    <h5 style="padding-left: 10px;margin-top: 20px">$i18n.get("module.no.heartbeat")</h5>
                                #end
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            #parse("blocks/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    #parse("blocks/footer.vm")
</div>
<!-- ./wrapper -->

#parse("blocks/header-scripts.vm")
#parse("blocks/fakeloader.vm")
#parse("blocks/install-module.vm")

<script type="application/javascript">
    jQuery(function($){
        $(".btn-active").on('click',function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            innerPost("/module/active.json", {'appName': appName,'ip':ip}, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        
        $(".btn-frozen").on('click',function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            innerPost("/module/frozen.json", {'appName': appName,'ip':ip}, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        
        $(".btn-reload").on('click',function () {
            var appName = $(this).attr('data-app');
            var ip = $(this).attr('data-ip');
            innerPost("/module/reload.json", {'appName': appName,'ip':ip}, function (response) {
                if (response.success) {
                    notice(response.message, response.success)
                    setTimeout('window.location.reload()', 1000)
                } else {
                    notice(response.message, response.success)
                }
            });
        })
        
        $("#btn-install").on("click", function () {
            var modal = $('#start-install-modal');
            
            // 重置表单，确保干净的状态
            modal.find('#startInstallForm')[0].reset();
            // 重新设置端口的默认值
            modal.find("input[name='port']").val('12580');
            
            modal.on('shown.bs.modal', function () {
                $(this).css('display', 'block');
                var modalHeight = $(window).height() / 2 - $('#start-install-modal .modal-dialog').height() / 2;
                $(this).find('.modal-dialog').css({
                    'margin-top': modalHeight
                });
                // 聚焦到第一个输入框
                modal.find("input[name='appName']").focus();
            });
            modal.modal('show')
        })

        $("#start-install-btn").on('click', function () {
            // 限制选择器在模态框内部，避免与页面其他元素冲突
            var modal = $('#start-install-modal');
            var appName = modal.find("input[name='appName']").val();
            var ip = modal.find("input[name='ip']").val();
            var port = modal.find("input[name='port']").val();
            
            // 清理输入值
            appName = appName ? appName.trim() : '';
            ip = ip ? ip.trim() : '';
            port = port ? port.trim() : '';
            
            // 调试信息（开发时可以查看）
            if (i18n.debug) {
                console.log('[Form Validation] appName:', '"' + appName + '"');
                console.log('[Form Validation] ip:', '"' + ip + '"');
                console.log('[Form Validation] port:', '"' + port + '"');
            }
            
            // 验证应用名
            if (!appName) {
                alert(i18n.get('js.error.appname.required'));
                modal.find("input[name='appName']").focus();
                return;
            }
            
            // 验证IP地址
            if (!ip) {
                alert(i18n.get('js.error.ip.required'));
                modal.find("input[name='ip']").focus();
                return;
            }
            
            // 验证IP格式
            var ipRegex = /^(\d{1,3}\.){3}\d{1,3}$/;
            if (!ipRegex.test(ip)) {
                alert(i18n.get('js.error.ip.format'));
                modal.find("input[name='ip']").focus();
                return;
            }
            
            // 验证端口
            if (port && (isNaN(port) || port < 1 || port > 65535)) {
                alert(i18n.get('js.error.port.range'));
                modal.find("input[name='port']").focus();
                return;
            }
            
            showLoading(10);
            $("#startInstallForm").ajaxSubmit({
                type: "post",
                url: "//" + host + "/module/install.json",
                success: function (data) {
                    $("#start-install-modal").modal('hide')
                    hideLoading(10)
                    if (data.success) {
                        notice(data.message, data.success)
                        setTimeout('window.location.reload()', 1000)
                    } else {
                        notice(data.message, data.success)
                    }
                },
                error: function (XMLHttpRequest) {
                    hideLoading(10);
                    notice(i18n.get("msg.network.error") + " " + XMLHttpRequest.responseText, false);
                }
            })
        });
        
        // 调试功能：在浏览器控制台中可以使用 debugModuleForm() 来检查表单状态
        window.debugModuleForm = function() {
            var modal = $('#start-install-modal');
            var appName = modal.find("input[name='appName']").val();
            var ip = modal.find("input[name='ip']").val();
            var port = modal.find("input[name='port']").val();
            
            console.log('=== 模块注册表单调试信息 ===');
            console.log('模态框是否可见:', modal.is(':visible'));
            console.log('应用名输入框数量:', modal.find("input[name='appName']").length);
            console.log('应用名原始值:', '"' + (appName || '') + '"');
            console.log('应用名清理后:', '"' + (appName ? appName.trim() : '') + '"');
            console.log('IP地址:', '"' + (ip || '') + '"');
            console.log('端口号:', '"' + (port || '') + '"');
            console.log('表单元素:', modal.find('#startInstallForm')[0]);
            return {
                appName: appName ? appName.trim() : '',
                ip: ip ? ip.trim() : '',
                port: port ? port.trim() : ''
            };
        };
    });
</script>
</body>
</html>