## 页面底部公共组件
<footer class="main-footer">
    <!-- 版权信息已移除 -->
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
